* {
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #a2a2a2;
}

header {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.toggle-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button,
.score-track {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.1s, color 0.1s;
    background: linear-gradient(145deg, #ffffff, #dcdcdc);
    box-shadow: 3px 3px 5px #bebebe, -3px -3px 5px #ffffff;
    padding: 15px 20px;
    margin: 10px;
    max-width: fit-content;
    min-height: 100px;
}
.round-result {
    min-height: 150px;
    
}
.choice {
    margin: 20px;
    display: inline-block;
    margin-top: 20px;
}

.choice-area .choice button i {
    font-size: 100px;
}
.choice-area {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 20px;
    }

.score-track {
    text-align: center;
    display: inline-block;
    
}

button:hover {
    background: linear-gradient(145deg, #f4f4f4, #cecece);
    color: #888;
}

button.active {
    background-color: #f4f4f4;
    color: #bdbdbd;
    cursor: default;
    box-shadow: inset 3px 3px 5px #cbcbcb, inset -3px -3px 5px #ffffff;
}

/* rock paper scissors row */
.rps {
    margin: 10px;
    margin-bottom: 30px;
}

/* lizard spock row*/
.ls {
    margin: 10px;
}

/* JavaScript targets */
.hidden {
    display: none;
}

#select-game {
    text-align: center;
}

#victory-defeat-message {
    text-align: center;
    color: black;
    margin: 30px;
}

#try-again-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


