/* Styles for the rules page */
* {
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.header {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.how-to-play h4 {
    font-weight: bold;
}
.how-to-play p {
    text-wrap: wrap;
}

.how-to-play {
    margin-top: 50px;
}
.instructions{
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #a2a2a2;
}

.split-container {
    display: flex;
}

.split-container img {
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
    margin-bottom: -30px;
}

.how-to-play {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.container1 {
    text-align: center;
}

.btn.btn-primary {
    margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 760px) {
    .split-container {
        flex-direction: column;
    }

    .split-container img {
        max-width: 100%;
    }

    .how-to-play {
        max-width: 100%;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .header {
        align-items: center;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .split-container img {
        flex: 0 0 50%;
        max-height: 70vh;
        height: auto;
        margin-top: 100px;
        
    }

    .instructions{
        min-height: 100vh;
        background-color: #f4f4f4;
        color: #a2a2a2;
    
    }
    .btn.btn-primary {
        margin-top: -20px;
    }
    
}