<<<<<<< HEAD
/*Rules Page*/
/*main*/
/*Stlyes to the rules page*/
=======
/* Landing Page */
/* Navigation Bar */
.topnav {
    background-color: #B8B8B8;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.search {position:absolute;
    right: 0%;
    margin-top: 20px;
   float: center;
}

  /* Main */
>>>>>>> 2432b04c5a8bebbc200fc1c071375735cd008ab6
.header {
    text-align: center;
}

<<<<<<< HEAD
=======
.hero {text-align: center;}

/* Landing Page End*/

/*Rules Page*/
/*main*/
/*Stlyes to the rules page*/
.header {
    text-align: center;
}

>>>>>>> 2432b04c5a8bebbc200fc1c071375735cd008ab6
.how-to-play h4 {
    font-weight: bold;
}

.how-to-play {
    margin-top: 50px;
}

.split-container {
    display: flex;
}

.split-container img {
    flex: 0 0 50%;
    max-width: 50%;
    height: auto;
    margin-bottom: -30px;
}

.how-to-play {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;
}

.container1 {
    text-align: center;
}

    .btn.btn-primary {
        margin-top: 20px;
    }

/*end of css for rules page*/
@media (max-width: 760px) {
    /*Stlyes to the rules page*/
    .split-container {
        flex-direction: column;
    }

    .split-container img {
        max-width: 100%;
    }

    .how-to-play {
        max-width: 100%;
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 1440px) {
    /*Stlyes to the rules page*/
    .header {
        align-items: center;
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .split-container img {
        max-width: 100%;
        max-height: 550px;
        margin-top: 50px;
    }
<<<<<<< HEAD
}
    /*End*/
/*Rules Page End*/
=======
    /*End*/
/*Rules Page End*/
=======
* {
    margin: 0;
    padding: 0;
}
>>>>>>> 2432b04c5a8bebbc200fc1c071375735cd008ab6

header > h1 {
    text-align: center;
}

.toggle-area {
    margin: auto;
    text-align: center;
}

.game-toggle {
    display: inline-block;
}

.game-area {
    margin: auto auto;
}

.choice-area {
    text-align: center;
}

.choice {
    display:inline-block;
}

.score-area {
    text-align: center;
}

.choice {
    margin: 10px;
}

.choice button {
    padding: 10px 30px;
<<<<<<< HEAD
    font-size: 2rem; }
/*main*/
=======
    font-size: 2rem;
/*main*/
}
>>>>>>> 2432b04c5a8bebbc200fc1c071375735cd008ab6
